

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
h3 {
    text-transform: uppercase; text-align: left;
    background-color: azure;
    color: rgb(122, 142, 142);
}
div{
text-align: center;
}
body{
    background-color: bisque;
}
h2{
    background-color: white;
    color: aqua;
    text-align: center;
}
  p{
    font-size: 16px;
    art
  }